@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat text-sm xl:text-base;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-philosopher;
}

h1 {
  @apply text-[4rem] leading-[80px] sm:text-[5rem] sm:leading-[100px] md:text-8xl md:leading-[110px] lg:text-[7rem] lg:leading-[115px] xl:text-[7.5rem] xl:leading-[120px];
}

h2 {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}
h3 {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl;
}

h4 {
  @apply text-sm md:text-base xl:text-lg;
}

h5 {
  @apply text-base md:text-lg xl:text-xl;
}

button {
  @apply rounded-md bg-primary-light px-7 py-3 text-white outline-1 outline-offset-2 outline-primary-light transition hover:bg-primary focus:outline;
}

button.tab {
  @apply rounded-md bg-transparent px-7 py-3 text-primary outline-1 outline-offset-2 outline-primary-light transition focus:bg-primary-light focus:outline active:hover:bg-primary;
}

button.white {
  @apply bg-white text-primary;
}

button.tab.active {
  @apply bg-primary text-white;
}

button.btn-outline {
  @apply rounded-md border border-primary-light bg-transparent px-7 py-3 text-black outline-1 outline-offset-2 outline-primary-light transition hover:bg-primary-light hover:text-white;
}

#navbar {
  transition: all 0.5s ease;
  @apply fixed left-0 top-0 h-0 pt-0 shadow-xl md:static md:pt-0 xl:h-auto xl:shadow-none;
}

#nav-check:checked ~ #navbar {
  @apply h-[28rem] pt-28 xl:h-auto xl:pt-0;
}

.tabs {
  @apply flex justify-center;
}

.tab-link {
  padding: 8px 24px;
  border: none;
  /* background-color: #f1f1f1; */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 2px;
  @apply bg-white text-primary hover:text-white;
}

.tab-link.active {
  /* background-color: #3963bf; */
  @apply bg-primary text-white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.swiper-pagination-bullet {
  @apply !h-3 !w-3 !rounded-full !bg-gray-300 transition-[width] duration-700;
}

.swiper-pagination {
  /* @apply !-bottom-12; */
}

.swiper-pagination-bullet-active {
  @apply !w-10 !rounded-full !bg-primary;
}
